html {
  height: 100%;
  width: 100%;
  margins:0;
  padding:0;
}

body {
  text-align: center;
  margin: 0;
  paddinh:0;
  height: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #e3d3a5;
  color: #344e41;
}

* {
  box-sizing: border-box;
}

/*teksti*/
h1 {
    font-size: 2.7em;
    font-weight: bold;
    margin-bottom:0;
}
h2 {
    font-size: 1.7em;
    font-weight: bold;
    margin-top:5pt;
}

/*Pogas*/
.AtrastN, .AtrastS{
    background-color: #b3c88e;
    border-style:solid;
    border-color: #396653;
    border-width: 3pt;
    padding:5pt;
    border-radius: 5pt;
    width: 30%;
    margin: 10pt;
    color:#344e41;
}
.ETipi{
    background-color: #b3c88e;
    border-style:solid;
    border-color: #396653;
    border-width: 3pt;
    padding-top:3pt;
    padding-bottom:3pt;
    padding-left:7pt;
    padding-right:7pt;
    border-radius: 5pt;
    margin: 10pt;
    color:#344e41;
}
.Atpakaļ{
    background-color: #b3c88e;
    border-style:solid;
    border-color: #396653;
    border-width: 3pt;
    padding-top:3pt;
    padding-bottom:3pt;
    padding-left:7pt;
    padding-right:7pt;
    border-radius: 5pt;
    position: fixed; 
    top: 20px; 
    left: 20px; 
    margin-bottom: 20pt; 
    z-index:1000;
}
.AtrastN:hover, .AtrastS:hover, .AtrastN:active, .AtrastS:active, .Atpakaļ:hover, .Atpakaļ:active{  
    background-color: #396653;
    color: #b3c88e;
    cursor: pointer;
}

.ETipi:active, .ETipi:hover{
    background-color:#396653;
    color:#b3c88e;
}

/*citas lietas*/
hr{
    width:50%;
    color:#344e41;
    border:solid;
    padding-top:10pt;
    padding-bottom:10pt;
}
.Kolonna{
    border-style:hidden;
    padding:5pt;
    padding-top:7%;
    width: 100%;
    height:100%;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to bottom, #efe9d8, #e3d3a5);
}
.KolonnaT{
    border-style:hidden;
    padding:5pt;
    padding-top:60pt;
    width: 100%;
    height:100%;
    position:relative;
    text-align:center;
    overflow:auto;
}
table {  overflow-x:auto;
  overflow-y:auto;
}
table, td, th{
    border-style:solid;
    border-color: #344e41;
    border-width: 3pt;
}
table {
    border-collapse:collapse;
    width: 100%;
}
td{
    padding:7pt 5pt;
    font-size: 1.2em;
}
ul{
    text-align:left;
    padding-bottom:20pt;
}
th{
    font-size: 1.2em;
    padding:7pt;
    background-color: #344e41;
    color: #efe9d8;
}
.Izcelti{
    background-color:#5f8a5e;
    color: #b3c88e;
}
.Izcelti2{
    background-color:#b3c88e;
    color: #344e41;
}
.Uzmanību{
    background-color:#5f8a5e;
    color: #efe9d8;
    padding:6px;
}
#TabulaTipi{
    margin-top:10pt;
    width:85%;
    display:inline-block;
    border:none;
    text-align:center;
    background-color:#b3c88e;
}
#TabulaIzvairies{
    margin-top:10pt;
    width:85%;
    display:inline-block;
    border:none;
    text-align:center;
    padding-top:10pt;
    padding-bottom:10pt;
}

#SearchBox{
    border-radius:25px ;
    padding:4pt;
    Border:1pt solid #344e41;
    background-color: #b3c88e;
    width:50%;
    margin:10pt;
}
script{
    display:table;
}
